
body{
	background-image: linear-gradient(180deg, #e0e0e0 50%, #a5a5a5 100%);
	background-repeat: no-repeat;
	margin: 0px 25px 25px 25px;
	padding: 140px 15px 15px 15px;^
	height: 100%;
}

p{
	font-size: 12px;
}
h1{

}
#ScooterLogo{
	width: 120px;
	height: auto;
	float: left;
}
#ScooterOnStage{
	width: 100%;
	padding-top: 10px;
	margin: 0;
}
nav{
	position: fixed;
	top: 10px;
	list-style-type: none;
	margin: 0;
	padding-bottom: 25px;
}
ul{
	overflow: hidden;
	padding: 0;
}
li{
	display: inline;
	float: right;
}
li a{
	display: block;
	color: #333;
	text-align: center;
	padding-top: 25px;
	padding-left: 25px;
	text-decoration: none;
	font-size: 38px;
	height: 88px;
}
footer{
	padding: 20px 0 20px;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}